html {
font-family: 'Oswald';
background-color:  black;
width: 100%;
height:100%;
}

#heading{
    color: red;
    font-size: 13rem;
    text-align: center;
}

#reset{
    text-align: center;
	font-size: 2rem;
}
